<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Quản Lý Sách">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quản Lý Sách</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../static/web/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/web/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/web/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../static/web/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../static/web/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/web/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/web/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/web/css/style.css" type="text/css">
</head>

<body>
    {% include "ogani/header.html"%}


        {%block content%}{%endblock%}


    {%include "ogani/footer.html"%}
    <script src="../../static/web/js/jquery-3.3.1.min.js"></script>
        <script src="../../static/web/js/bootstrap.min.js"></script>
        <script src="../../static/web/js/jquery.nice-select.min.js"></script>
        <script src="../../static/web/js/jquery-ui.min.js"></script>
        <script src="../../static/web/js/jquery.slicknav.js"></script>
        <script src="../../static/web/js/mixitup.min.js"></script>
        <script src="../../static/web/js/owl.carousel.min.js"></script>
        <script src="../../static/web/js/main.js"></script>
</body>

</html>